.ad-text {
  margin-top: 10px;
  font-style: italic;
}

.toggle-ad {
  background-color: whitesmoke;
  border-radius: 1px;
  border-color: white;
  width: 150px;
}

.ad-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
